body {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: normal;
}
section,
footer {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  background: rgba(77, 190, 253, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(77, 190, 253, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(77, 190, 253, 1)),
    color-stop(100%, rgba(55, 144, 217, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(77, 190, 253, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(77, 190, 253, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(77, 190, 253, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(77, 190, 253, 1) 0%,
    rgba(55, 144, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbefd', endColorstr='#3790d9', GradientType=1 );
  padding-top: 100px;
  padding-bottom: 225px;
  color: #fff;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer {
  width: 510px;
}
h1 {
  font-size: 37px;
}
h1 span {
  font-size: 59px;
}
.intro {
  font-size: 16px;
  margin: 40px 0;
  width: 430px;
  line-height: 1.6em;
}
.btn,
.button-form {
  font-size: 15px;
  background: #ffd429;
  color: #2e2a1b;
  display: block;
  width: 220px;
  padding: 25px 70px 25px 30px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #ebc327;
}
.travel {
  margin-top: 72px;
}
.goals {
  padding-top: 140px;
  padding-bottom: 125px;
}
.section-title {
  font-size: 30px;
}
.advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.advantage {
  width: 289px;
  background: url(../img/icons8-time-machine-96.jpg) no-repeat center top;
  padding-top: 90px;
}
.advantage-title {
  font-size: 19px;
}
.advantage-text {
  font-size: 15px;
  margin-top: 23px;
}
.advantage-trip {
  background: url(../img/icons8-beach-96.jpg) no-repeat center top;
}
.advantage-value {
  background: url(../img/icons8-launch-96.jpg) no-repeat center top;
}
.form {
  background: #ecf3f8;
  padding: 100px 0;
}
.button-form {
  width: 340px;
  height: 54px;
  padding: 20px 100px 30px 70px;
  box-sizing: border-box;
  text-align: left;
  border: 0;
  cursor: pointer;
}
input {
  width: 340px;
  height: 47px;
  border: 1px solid #bbbbbb;
  font-size: 15px;
  font-family: "ubuntu", sans-serif;
  padding-left: 25px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: block;
}
form {
  margin: 0 auto;
  width: 340px;
  padding-top: 60px;
}
footer {
  padding: 60px 0;
  background: #164d7a;
}
.credits {
  color: white;
  font-size: 14px;
  margin: 0;
}
.animated {
  opacity: 0;
}
/*responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
 /* .container {
    width: 960px;
  }*/
  .wrapper {
    flex-direction: column;
  }
  .offer {
    width: 100%;
  }
  .intro {
    width: auto;
  }
  .travel {
    display: block;
    width: 641px;
    margin: 72px auto 0;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .advantages {
    flex-direction: column;
  }
  .advantage {
    width: auto;
    margin-bottom: 30px;
  }
  .travel {
    width: 100%;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .btn,
  input,
  form,
  .button-form {
    width: 90%;
  }
  .btn {
    display: inline;
  }
}
